@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* for subcategory */
.category-container {
  position: relative;
  margin-bottom: 10px;
}

.subcategories {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.category-container:hover .subcategories {
  display: block;
}

.subcategory-item {
  margin-bottom: 5px;
}


/* scrollbar  */

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px;
  /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the thumb on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1;
  /* Color of the thumb and track */
}

html::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
  /* Padding around thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Edge */
body {
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1;
  /* Color of the thumb and track */
}

/* To style scrollbars inside specific elements */
.element {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 #f1f1f1;
  /* For Firefox */
}

.element::-webkit-scrollbar {
  width: 6px;
  /* Adjust the width of the scrollbar */
}

.element::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the track */
}

.element::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
}

.element::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the thumb on hover */
}

/* oder data table  */


.myOrdersTable {
  background-color: white;
}

.myOrdersTable div {
  font: 300 1vmax "Roboto";
  /* color: rgba(0, 0, 0, 0.678); */
  border: none;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myOrdersTable a:hover {
  color: tomato;
}

.MuiDataGrid-columnHeader {
  background-color: rgb(8, 104, 133);
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
  font: 500 1.1vmax "Roboto" !important;
}

.MuiDataGrid-iconSeparator {
  display: none !important;
}

.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}

@media screen and (max-width: 600px) {
  .myOrdersPage {
    padding: 0;
    height: 93vh;
  }

  #myOrdersHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }

  .myOrdersTable div {
    font: 300 4vw "Roboto";
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader div {
    font: 500 5vw "Roboto" !important;
  }
}

/* pagination ==== */
.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}


/* React slick slider ===== */
.carousel-container {
  width: 100%; /* or a specific width */
  overflow: hidden; /* Prevent horizontal scrollbar */
}


